  </section>
<!--footer-->
    <div class="footer">
    	<div class="wrapper clearfix">
        	<div class="footer_left">
            	<p class="p1"><a href="#">TMUED</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">TM</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">ND</a></p>
                <p class="p2">Copyright © 2014 TM.UED All Rights Reserved.</p>
            </div>
            <div class="footer_right">
            	<a href="#" class="a1"><ins></ins><span>加入收藏</span></a>
                <a href="#" class="a2"><ins></ins><span>关注我们</span></a>
            </div>
        </div>
    </div>
    <!--/footer-->
  </body>
</html>
