  </section>
<!--footer-->
    <div class="footer">
    	<div class="wrapper clearfix">
        	<div class="footer_left">
            	<p class="p1"><a href="http://weibo.com/tmued">TMUED</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.tming.net.cn/">TM</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.nd.com.cn/">ND</a></p>
                <p class="p2">Copyright © 2014 TM.UED All Rights Reserved.</p>
            </div>
            <div class="footer_right">
            	<a href="http://ued.tming.net.cn/plus/list.php?tid=3" class="a1"><ins></ins><span>加入收藏</span></a>
                <a href="http://weibo.com/tmued
" class="a2"><ins></ins><span>关注我们</span></a>
            </div>
        </div>
    </div>
    <!--/footer-->
  </body>
</html>
