<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>TMUED前端代码管理部署系统</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="<%= title %>"/>
    <link rel='stylesheet' href='http://static.alipayobjects.com/gallery/normalize/3.0.0/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <link rel='stylesheet' href='/css/style.css' />
   
    <link rel='stylesheet' href='/stylesheets/markdown.css' />
    <script type="application/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/common.js"></script>
    <script charset="utf-8" id="seajsnode" src="http://static.alipayobjects.com/??seajs/seajs/2.2.0/sea.js,seajs/seajs-combo/1.0.1/seajs-combo.js,seajs/seajs-style/1.0.2/seajs-style.js"></script>
    <script>
    seajs.config({
      alias: {
        '$': 'jquery/jquery/1.10.1/jquery',
        'autocomplete': 'arale/autocomplete/1.2.3/autocomplete'
      }
    });
    </script>
  </head>
  <body>
    <!--header <%= title %> -->
    <div class="header other_header">
      <div class="wrapper">
            <h1 class="logo"><a href="/">TMUED-模块库</a></h1>
            <form class="searchwrap" method="get" action="/search">
                <input type="text" class="normal_input" value="包名称" onfocus="if(this.value == '包名称'){this.value = '';}" onblur="if(this.value == ''){this.value = '包名称';}" name="q" type="search" autocomplete="off" />
                <a href="#" class="icon_search"></a>
                <script>
                  // search hint
                  seajs.use(['$', 'autocomplete'], function($, AutoComplete) {
                    var auto = new AutoComplete({
                      trigger: 'input[name=q]',
                      dataSource: function(query, done) {
                        var that = this;
                        $.get('/suggest?q=' + query).success(function(data) {
                          data = data.map(function(item) {
                            return {
                              value: item.name,
                              label: item.name,
                              description: item.description
                            }
                          });
                          data = data.sort(function(a, b) {
                            return a.value.length - b.value.length;
                          });
                          done(data);
                        });
                        return false;
                      },
                      template:
                          '<div class="{{classPrefix}}">\
                              <ul class="{{classPrefix}}-ctn" data-role="items">\
                                  {{#each items}}\
                                      <li data-role="item" class="{{../classPrefix}}-item" data-value="{{matchKey}}">\
                                          <a href="/package/{{label}}" class="ui-autocomplete-item-label">{{label}}</a>\
                                          <div class="ui-autocomplete-item-description">{{description}}</div>\
                                      </li>\
                                  {{/each}}\
                              </ul>\
                           </div>',
                    })
                    .render()
                    .before('show', function() {
                      this.set('width', $(this.get('trigger')).outerWidth(true));
                    }).on('itemSelect', function(item) {
                      this.set('submitOnEnter', false);
                      location.href = '/package/' + item.label;
                    });
                  });
              </script>
            </form>
            <ul class="top_nav clearfix">
                <li><a href="/packages"><ins class="nav_icon1"></ins>Packages</a></li>
                <li><a href="/documentation"><ins class="nav_icon2"></ins>Documents</a></li>
                <!-- <li><a href="#"><ins class="nav_icon3"></ins>Github</a></li> -->
                <% if (!anonymous) { %>
                <% if (user) { %>
                  <li>
                    <a href="/account">
                      <i class="iconfont">&#xf0006;</i>
                      <%= user.login %>
                    </a>
                  </li>
                  <li>
                    <a href="/logout">
                      <i class="iconfont">&#xf0204;</i>
                      logout
                    </a>
                  </li>
                  <% } else { %>
                  <li>
                    <a id="login" href="/login">
                      <i class="iconfont">&#xe606;</i>
                      <span>Sign in</span>
                    </a>
                  </li>
                <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <script>
      seajs.use(['$'], function($) {
        $('#login').click(function() {
          $(this).find('span').html('Login..');
        });
      });
    </script>
    <!--/header-->
 
  <!--slogan-->
    <div class="sloganwrap">
      <div class="slogan">
          <div class="slogancon wrapper">
                <p class="p1">TMUED前端代码管理部署系统</p>
                <p class="p2">是基于SPM定制的模块化管理方案。集成了模块开发、依赖分析、最小初始包、</p>
                <p class="p3">支持less、scss、coffeescript等常见语言图形操作界面，方便直观（客户端开发中）</p>
                <div class="buttonwrap clearfix">
                    <a href="/documentation" class="view_sc"><ins></ins>模块开发手册</a>
                    <a href="/packages" class="view_mode"><ins></ins>浏览所有模块</a>
                </div>

            </div>
        </div>
    </div>
    <!--/slogan-->

<script>
    $('.searchwrap').toggle(function(){
      $(this).addClass('searchwrap_focus');
    },
      function(){
        $(this).removeClass('searchwrap_focus');
      }
    )

</script>    
  <section class="wrapper">
